body {
  margin: 0;
  padding: 3rem;
  height: 110%;
  font-family: "Neue Montreal";
  font-weight: 400;
  font-size: 1.1rem;
}

#root {
  display: flex;
  flex-direction: row;
}

.frame {
  width: 90vw;
  height: 90wh;
  margin: 1rem;
  margin-left: 0;
  padding: 3rem;
  border: 0.5rem double whitesmoke;
}

i {
  margin-right: 1rem;
}

.contact a :hover {
  transform: translateY(-7px);
}
a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.headerLink:hover {
  text-decoration: underline;
  transform: translateY(-5px);
}

.contact {
  margin-top: 40vh;
}
.about {
  margin: 7rem 1rem;
  margin-top: 10rem;
  justify-content: center;
}

.about .text {
  width: 50%;
  min-width: 35rem;
}

.dark {
  color: aliceblue;
}

.light {
  color: black;
}

/* Define custom fonts */
@font-face {
  font-family: "Neue Montreal";
  font-weight: 200;
  src: url("./assets/font/PPNeueMontreal-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Neue Montreal";
  font-weight: 400;
  src: url("./assets/font/PPNeueMontreal-Book.woff2") format("woff2");
}
@font-face {
  font-family: "Neue Montreal";
  font-weight: 600;
  src: url("./assets/font/PPNeueMontreal-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Neue Montreal Mono";
  font-weight: 200;
  src: url("./assets/font/PPNeueMontrealMono-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Neue Montreal Mono";
  font-weight: 400;
  src: url("./assets/font/PPNeueMontrealMono-Book.woff2") format("woff2");
}
@font-face {
  font-family: "Neue Montreal Mono";
  font-weight: 600;
  src: url("./assets/font/PPNeueMontrealMono-SemiBold.woff2") format("woff2");
}

h1 {
  margin: -0.1em 0 0 -0.04em;
  font-weight: 200;
  font-size: 3.5rem;
}

h2 {
  margin: -0.1em 0 0 -0.04em;
  font-weight: 200;
  font-size: 2.3rem;
}

.label {
  font-weight: 400;
}
.brand {
  margin-bottom: 2.3rem;
}

nav {
  font-weight: 600;
  margin-left: -2rem;
  font-size: 0.8rem;
}

.theme {
  position: absolute;
  top: 2.5rem; /* Adjust the top position as needed */
  right: 2.5rem; /* Adjust the right position as needed */
  display: flex;
  flex-direction: row; /* Arrange buttons vertically */
  font-weight: 200;
  writing-mode: vertical-rl;
}

.theme button {
  margin-bottom: 10px; /* Add some space between buttons */
  background-color: transparent; /* Set background color to transparent */
  border: none; /* Remove border */
  display: flex;
  flex-direction: column; /* Arrange text vertically */
  align-items: center; /* Center text horizontally */
}

.theme button:hover {
  transform: translateX(-5px);
}
